@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import url('../css/reset.css');
@import url('../css/home.css');
@import url('../css/consultas.css');
@import url('..//css/botoes.css');

body{
  background: var(--fundo);
}

strong{
  color: var(--texto);
}

main{
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}